.login_form_box {
    width: 500px;
    margin-left: 343px;
    margin-top: 82px;
}

button.btn.btn-secondary {
    margin-left: 13px;
}

button.btnbb {
    margin-left: 460px;
    margin-top: -28px;
    border: none;
}
