<div class="login_form_box">
    <h2 class="text-center">Login In</h2>
    <form [formGroup]="changeForm">
        <div class="form-group mb-20">
            <label>Email</label>
            <input type="text" formControlName="Email" placeholder="Username" class="form-control abc">
            <div *ngIf="(changeForm.get('Email').invalid && changeForm.get('Email').touched) || changeForm.get('Email').dirty">
              <small class="text-danger" *ngIf="changeForm.get('Email').errors?.required">Email address is required</small>
              <small class="text-danger" *ngIf="changeForm.get('Email').errors?.pattern">Email address is invalid</small>
              <!-- <span  class="{{status?'sucseess-text':'error-text'}}">{{message}}</span> -->
            </div>
          </div>
      <div class="form-group mb-20">
        <label> Current password</label>
        <input type="text" formControlName="currentPassword" placeholder="Password" class="form-control" minlength="5" maxlength="10" >
        <button class="btnbb" (click)="onClick()">
          <i class="fa fa-eye" aria-hidden="true" *ngIf="!show"></i>
          <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="show"></i>
        </button>
        <p class="text-danger"
          *ngIf="changeForm.get('currentPassword').hasError('required') && changeForm.get('currentPassword').touched">currentPassword is
          required!</p>
      </div>
      <div class="form-group mb-20">
        <label> New password</label>
        <input type="text" formControlName="newPassword" placeholder="Password" class="form-control" minlength="5" maxlength="10">
        <p class="text-danger"
          *ngIf="changeForm.get('newPassword').hasError('required') && changeForm.get('newPassword').touched">newPassword is
          required!</p>
      </div>
      <div class="form-group">
        <button class="btn btn-primary"  (click)="onChange()">ChangePassword</button>
        <button class="btn btn-secondary"  (click)="onLogin()">Goto Login</button>
      </div>
    </form>
  </div>