.login_form_box {
    width: 500px;
    margin-left: 343px;
    margin-top: 82px;

}

button.btn.btn-secondary {
    margin-left: 0px;
}

button.btn.btn-secondary.werr {
    background: yellow;
    color: black;
}
